<div class="details__wrapper">
  <button routerLink="../../" class="button details__back">&#10094;</button>
  <div class="details">
    <div class="details__image-wrapper">
      <img
        src="{{ item?.snippet?.thumbnails?.standard?.url }}"
        alt="{{ item?.snippet?.title }}"
        class="details__image"
      />
    </div>
    <div class="details__info">
      <div class="details__header">
        <h2 class="heading details__heading">{{ item?.snippet?.title }}</h2>
        <h4 class="heading details__date">{{ item?.snippet?.publishedAt | date: 'fullDate' }}</h4>
      </div>
      <div class="details__description">
        <p>Description:</p>
        <p class="details__text">{{ item?.snippet?.description }}</p>
      </div>
      <div class="details__stat-ul">
        <div class="details__stat-li">
          <img src="../../../../assets/viewed.svg" alt="viewed" />
          <p>{{ item?.statistics?.viewCount }}</p>
        </div>
        <div class="details__stat-li">
          <img src="../../../../assets/liked.svg" alt="liked" />
          <p>{{ item?.statistics?.likeCount }}</p>
        </div>
        <div class="details__stat-li">
          <img src="../../../../assets/dislike.svg" alt="disliked" />
          <p>{{ item?.statistics?.dislikeCount }}</p>
        </div>
        <div class="details__stat-li">
          <img src="../../../../assets/comments.svg" alt="comments" />
          <p>{{ item?.statistics?.commentCount }}</p>
        </div>
      </div>
      <div class="time-bar {{ publicationClass }}"></div>
    </div>
  </div>
</div>
