.search-params {
  &__heading {
    color: var(--dark-grey-color);
    cursor: default;
  }

  &__ul {
    display: flex;
    list-style: none;
    margin-block: 0;
    padding-inline: 0;
  }

  &__li {
    --arrow: '';
    margin-left: 10px;
    color: var(--blue-color);
    cursor: pointer;

    border-bottom: 1px solid rgba(var(--blue-color-data), 0);

    transition: all ease-in-out 0.2s;

    &:hover:not(:last-child) {
      color: var(--dark-blue-color);
      border-bottom: 1px solid var(--dark-blue-color);
    }

    &_active:not(:last-child) {
      --arrow: '🠕';
      border-bottom: 1px solid var(--blue-color);
      &::after {
        content: var(--arrow);
      }
    }

    &_desc:not(:last-child) {
      --arrow: '🠗';
    }
  }

  &__li:last-child {
    border-bottom: none;
    cursor: default;
  }
}

#search-params__text-input {
  margin-left: 10px;
  outline: none;
  border: none;
  border-radius: 0;
}
