:root {
  --white-color-data: 255, 255, 255;
  --white-color: rgb(var(--white-color-data));
  --dark-color-data: 79, 79, 79;
  --dark-color: rgb(var(--dark-color-data));
  --grey-color-data: 229, 229, 229;
  --grey-color: rgb(var(--grey-color-data));
  --dark-grey-color-data: 146, 146, 146;
  --dark-grey-color: rgb(var(--dark-grey-color-data));
  --light-grey-color-data: 239, 239, 239;
  --light-grey-color: rgb(var(--light-grey-color-data));
  --blue-color-data: 47, 128, 237;
  --blue-color: rgb(var(--blue-color-data));
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--dark-color);
}

app-root {
  display: block;
}

.button {
  padding: 5px;
  background-color: var(--blue-color);
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: none;
  transition: box-shadow ease-in-out 0.2s;

  &:hover {
    box-shadow: 0 0 5px rgba(var(--blue-color-data), 0.5);
  }

  &:active {
    box-shadow: 0 0 5px rgba(var(--blue-color-data), 0.8);
  }

  &_active {
    box-shadow: 0 0 5px rgba(var(--blue-color-data), 0.8);
  }
}
