.login {
  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  display: flex;
  flex-direction: column;
  width: 350px;
  margin-top: 30px;
  padding: 20px;
  box-sizing: border-box;

  background-color: var(--light-grey-color);
  border-radius: 5px;

  &__heading {
    text-transform: capitalize;
  }

  &__info {
    margin: 0 0 15px 0;
    padding: 5px;

    font-size: 12px;
    font-weight: normal;
    color: var(--dark-grey-color);

    background-color: white;
    box-shadow: 2px 2px 5px rgba(var(--red-color-data), 0.4);
    border-radius: 5px;
  }

  &__input-label {
    margin-bottom: 5px;
    font-size: 10px;
    text-transform: capitalize;
    color: var(--dark-grey-color);
  }

  &__input {
    margin-bottom: 10px;
    padding: 5px;

    background-color: var(--grey-color);

    font-size: 14px;

    outline: none;
    border: none;

    &_filled {
      background-color: rgba(var(--red-color-data), 0.2);
    }

    &_valid {
      background-color: rgba(var(--green-color-data), 0.2);
    }
  }

  &__button {
    padding: 10px 60px;
    align-self: flex-end;
    font-size: 14px;
    text-transform: capitalize;
  }
}
