<div class="login__wrapper">
  <div class="login">
    <h2 class="heading login__heading">login</h2>
    <label class="login__input-label" for="login">login</label>
    <input
      class="login__input"
      (input)="loginInput(login.value)"
      [class.login__input_filled]="login.value"
      [class.login__input_valid]="isLoginValid"
      type="text"
      name="login"
      id="login"
      #login
    />
    <label class="login__input-label" for="password">password</label>
    <input
      class="login__input"
      (input)="passwordInput(password.value)"
      [class.login__input_filled]="password.value"
      [class.login__input_valid]="isPasswordValid"
      type="password"
      name="password"
      id="password"
      #password
    />
    <h4
      class="login__info"
      *ngIf="(login.value && !isLoginValid) || (password.value && !isPasswordValid)"
    >
      Login and password should contain 3-20 alphanumeric latin symbols, '-' and '_'
    </h4>
    <button (click)="loginSubmit()" class="button login__button">login</button>
  </div>
</div>
